<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 54px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/svg+xml"
        href="https://ossimg.big-mumadmin888.com/bigmumbai/other/h5setting_20230814170913idlb.ico">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>BigMumbai</title>
    <!-- footer css  -->
    <link rel="stylesheet" href="https://mumbai-big.com/assets/css/index-8560823f.css">

    <link rel="stylesheet" href="css/wallet/modules-5dd73da0.css">
    <link rel="stylesheet" href="css/wallet/index-6108797b.css">
    <link rel="stylesheet" href="css/wallet/page-wallet-4d02ed4f.css">
</head>

<body class="" style="font-size: 12px;">
    <div id="app" data-v-app="">
        <div data-v-647954c7="" class="ar-loading-view"
            style="--f13b4d11-currentFontFamily: Roboto, Inter, sans-serif; display: none;">
            <div data-v-647954c7="" class="skeleton-wrapper" style="display: none;">
                <div data-v-647954c7="" class="van-skeleton van-skeleton--animate"><!---->
                    <div class="van-skeleton__content"><!---->
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 60%;"></div>
                    </div>
                </div>
                <div data-v-647954c7="" class="van-skeleton van-skeleton--animate">
                    <div class="van-skeleton-avatar van-skeleton-avatar--round"></div>
                    <div class="van-skeleton__content">
                        <h3 class="van-skeleton-title"></h3>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 60%;"></div>
                    </div>
                </div>
                <div data-v-647954c7="" class="van-skeleton van-skeleton--animate"><!---->
                    <div class="van-skeleton__content">
                        <h3 class="van-skeleton-title"></h3>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-0dabd3fc="" class="wallet-container"
            style="--f13b4d11-currentFontFamily: Roboto, Inter, sans-serif;">
            <div data-v-0dabd3fc="" class="wallet-container-header">
                <div data-v-12a80a3e="" data-v-0dabd3fc="" class="navbar main">
                    <div data-v-12a80a3e="" class="navbar-fixed">
                        <div data-v-12a80a3e="" class="navbar__content">
                            <div data-v-12a80a3e="" class="navbar__content-left"><i data-v-12a80a3e=""
                                    class="van-badge__wrapper van-icon van-icon-arrow-left"><!----><!----><!----></i>
                            </div>
                            <div data-v-12a80a3e="" class="navbar__content-center"><!--v-if-->
                                <div data-v-12a80a3e="" class="navbar__content-title">Wallet</div>
                            </div>
                            <div data-v-12a80a3e="" class="navbar__content-right"></div>
                        </div>
                    </div>
                </div>
                <div data-v-0dabd3fc="" class="wallet-container-header-belly"><svg data-v-0dabd3fc=""
                        class="svg-icon icon-wallet1">
                        <use xlink:href="#icon-wallet1"></use>
                    </svg>
                    <div data-v-0dabd3fc="">₹<%=balance%>.00</div><span data-v-0dabd3fc="">Total balance</span>
                    <div data-v-0dabd3fc="">
                        <div data-v-0dabd3fc="">
                            <p data-v-0dabd3fc="" class="total">0</p>
                            <p data-v-0dabd3fc="">Total amount</p>
                        </div>
                        <div data-v-0dabd3fc="">
                            <p data-v-0dabd3fc="" class="total">0</p>
                            <p data-v-0dabd3fc="">Total deposit amount</p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-0dabd3fc="" class="wallet-container-content">
                <div data-v-0dabd3fc="" class="container">
                    <div data-v-0dabd3fc="" class="progressBars">
                        <div data-v-0dabd3fc="" class="progressBarsL">
                            <div data-v-0dabd3fc="" class="van-circle"><svg viewBox="0 0 1100 1100"><!---->
                                    <path class="van-circle__layer"
                                        d="M 550 550 m 0, -500 a 500, 500 0 1, 1 0, 1000 a 500, 500 0 1, 1 0, -1000"
                                        style="fill: none; stroke-width: 100px;"></path>
                                    <path d="M 550 550 m 0, -500 a 500, 500 0 1, 1 0, 1000 a 500, 500 0 1, 1 0, -1000"
                                        class="van-circle__hover"
                                        style="stroke-width: 101px; stroke-linecap: butt; stroke-dasharray: 3140px, 3140px;">
                                    </path>
                                </svg>
                                <div class="van-circle__text">100%</div>
                            </div>
                            <h3 data-v-0dabd3fc="">₹<%=balance%>.00</h3><span data-v-0dabd3fc="">Main wallet</span>
                        </div>
                        <div data-v-0dabd3fc="" class="progressBarsR">
                            <div data-v-0dabd3fc="" class="van-circle"><svg viewBox="0 0 1100 1100"><!---->
                                    <path class="van-circle__layer"
                                        d="M 550 550 m 0, -500 a 500, 500 0 1, 1 0, 1000 a 500, 500 0 1, 1 0, -1000"
                                        style="fill: none; stroke-width: 100px;"></path>
                                    <path d="M 550 550 m 0, -500 a 500, 500 0 1, 1 0, 1000 a 500, 500 0 1, 1 0, -1000"
                                        class="van-circle__hover"
                                        style="stroke-width: 101px; stroke-linecap: butt; stroke-dasharray: 0px, 3140px;">
                                    </path>
                                </svg>
                                <div class="van-circle__text">0%</div>
                            </div>
                            <h3 data-v-0dabd3fc="">₹0.00</h3><span data-v-0dabd3fc="">3rd party wallet</span>
                        </div>
                    </div>
                    <div data-v-0dabd3fc="" class="recycleBtnD"><button data-v-0dabd3fc="" class="recycleBtn">Main
                            wallet transfer</button></div>
                    <div data-v-0dabd3fc="" class="userDetail">
                        <div onclick="window.location.href='/main/recharge'" data-v-0dabd3fc="">
                            <div data-v-0dabd3fc="" class="imgD"><img data-v-0dabd3fc=""
                                    src="images/wallet/rechargeIcon-e515aee4.png"></div><span
                                data-v-0dabd3fc="">Deposit</span>
                        </div>
                        <div data-v-0dabd3fc="">
                            <!-- withdraw  -->
                            <div onclick="window.location.href='/main/withdraw'" data-v-0dabd3fc="" class="imgD"><img data-v-0dabd3fc=""
                                    src="images/wallet/widthdrawBlue-80197e64.png"></div><span
                                data-v-0dabd3fc="">Withdraw</span>
                        </div>

                        <!-- deposit -->
                        <div data-v-0dabd3fc="">
                            <div onclick="window.location.href='main/deposit-history'" data-v-0dabd3fc="" class="imgD"><img data-v-0dabd3fc=""
                                    src="images/wallet/rechargeHistory-b5a853c0.png"></div><span
                                data-v-0dabd3fc="">Deposit history</span>
                        </div>
                        <!-- withdrawl history  -->
                        <div data-v-0dabd3fc="">
                            <div onclick="window.location.href='main/withdraw-history'" data-v-0dabd3fc="" class="imgD"><img data-v-0dabd3fc=""
                                    src="images/wallet/withdrawHistory-fb2bafcf.png"></div><span
                                data-v-0dabd3fc="">Withdrawal history</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--online custom service-->
       <%-include("../partials/customer-service.ejs")%>
        <!-- footer  -->
        <%-include("../partials/footer.ejs")%>
    </div>
</body>

</html>