  <!-- customer service      -->
  <div onclick="window.location.href='/help'" class="customer" id="customerId"
  style="--76181987: 'Roboto', 'Inter', sans-serif; --17a7a9f6: bahnschrift;">
  <img class="" data-origin="https://mumbai-big.com/assets/png/icon_sevice-af9dd176.png"
      src="https://mumbai-big.com/assets/png/icon_sevice-af9dd176.png">
</div>