 <div data-v-48aa04ea="" class="tabbar__container" style="font-family: 'Roboto', 'Inter', sans-serif; background-color: #f0f0f5;">
                <div data-v-48aa04ea="" onclick="location.href='/home'" class="tabbar__container-item active">
                    <div data-v-48aa04ea="" class="tab_icon"
                        style="background-image: url('https://mumbai-big.com/assets/png/home_active-37215634.png');">
                    </div>
                    <span data-v-48aa04ea="">Home</span>
                </div>
                <div data-v-48aa04ea="" onclick="location.href='/activity'" class="tabbar__container-item">
                    <div data-v-48aa04ea="" class="tab_icon"
                        style="background-image: url('https://mumbai-big.com/assets/png/activity-700920a5.png');">
                    </div>
                    <span data-v-48aa04ea="">Activity</span>
                </div>
                <div data-v-48aa04ea="" onclick="location.href='/promotion'" class="tabbar__container-item">
                    <div data-v-48aa04ea="" class="tab_icon"
                        style="background-image: url('https://mumbai-big.com/assets/png/promotion-4225db25.png')">
                    </div>
                    <div data-v-48aa04ea="" class="promotionBg"></div>
                    <span data-v-48aa04ea="">Promotion</span>
                </div>
                <div data-v-48aa04ea="" onclick="location.href='/wallet'" class="tabbar__container-item">
                    <div data-v-48aa04ea="" class="tab_icon"
                        style="background-image: url('https://mumbai-big.com/assets/png/wallet-fdbcc082.png');">
                    </div>
                    <span data-v-48aa04ea="">Wallet</span>
                </div>
                <div data-v-48aa04ea="" onclick="location.href='/main'" class="tabbar__container-item">
                    <div data-v-48aa04ea="" class="tab_icon"
                        style="background-image: url('https://mumbai-big.com/assets/png/main-6e0e4133.png');">
                    </div>
                    <span data-v-48aa04ea="">Account</span>
                </div>
            </div>