<div data-v-17e11782="" class="content" style="--76181987: 'Roboto', 'Inter', sans-serif;">
    <div data-v-19888208="" data-v-17e11782="" class="navbar">
        <div data-v-19888208="" class="navbar-fixed" style="background: rgb(255, 255, 255);">
            <div data-v-19888208="" class="navbar__content">
                <div data-v-19888208="" class="navbar__content-left">
                    <img data-v-17e11782=""
                        src="https://i.postimg.cc/rpSyhHYW/pixlr-image-generator-99a4fb45-53fa-464e-8f92-a4402c67fe4d.webp"
                        style="margin: 2px;" width="80" alt="">
                </div>
                <div data-v-19888208="" class="navbar__content-center">
                    <div data-v-19888208="" class="navbar__content-title"></div>
                </div>
                <div data-v-19888208="" class="navbar__content-right">
                    <div data-v-17e11782="" class="content__right">
                        <div data-v-17e11782="" class="message">
                            <div data-v-17e11782="" class="message_icon"></div>
                        </div>
                        <svg data-v-17e11782="" onclick="location.href='/bettingking.apk'"
                            class="svg-icon icon-down down down">
                            <use xlink:href="#icon-down"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>