<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 54px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <link rel="icon" type="image/svg+xml"
        href="https://ossimg.big-mumadmin888.com/bigmumbai/other/h5setting_20230814170913idlb.ico">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>BigMumbai</title>
    <link rel="stylesheet" href="css/activity/page-activity-6cdd8de9.css">
    <link rel="stylesheet" href="css/activity/index-6108797b.css">
    <!-- <link rel="stylesheet" href="https://mumbai-big.com/assets/css/index-8560823f.css"> -->
    <link rel="stylesheet" href="css/footer.css">
</head>

<body class="" style="font-size: 12px;">

    <div id="app" data-v-app="">
        <!-- navbar  -->
        <div data-v-12a80a3e="" data-v-214b87c9="" class="navbar main"
            style="--f13b4d11-currentFontFamily: Roboto, Inter, sans-serif;">
            <div data-v-12a80a3e="" class="navbar-fixed">
                <div data-v-12a80a3e="" class="navbar__content">
                    <div data-v-12a80a3e="" class="navbar__content-left"><!--v-if--></div>
                    <div data-v-12a80a3e="" class="navbar__content-center">
                        <div data-v-12a80a3e="" class="headLogo"
                            style="background-image: url('https://i.postimg.cc/rpSyhHYW/pixlr-image-generator-99a4fb45-53fa-464e-8f92-a4402c67fe4d.webp');">
                        </div>
                        <div data-v-12a80a3e="" class="navbar__content-title"></div>
                    </div>
                    <div data-v-12a80a3e="" class="navbar__content-right"></div>
                </div>
            </div>
        </div>

        <!-- navbar description  -->
        <div data-v-4a7709f3="" data-v-214b87c9="" class="activity-wrapper"
            style="--f13b4d11-currentFontFamily: Roboto, Inter, sans-serif;">
            <div data-v-4a7709f3="" class="activity-banner">
                <div data-v-4a7709f3="">
                    <div data-v-4a7709f3="" class="banner-title">Activity</div>
                    <div data-v-4a7709f3="" class="banner-para">Please remember to follow the event page</div>
                    <div data-v-4a7709f3="" class="banner-para">We will launch user feedback activities from time to
                        time</div>
                </div>
            </div>

            <div data-v-4a7709f3="" class="activity-panel"><!--v-if-->
                <div data-v-4a7709f3="" class="activity-panel-header lg3"><!--v-if-->
                    <div data-v-4a7709f3="" class="header-item">
                        <div data-v-4a7709f3="" class="van-badge__wrapper">
                            <div data-v-4a7709f3="" class="a2 bgcontainer"
                                style="background-image: url('https://mumbai-big.com/assets/png/invitationBonus-aa7acbd3.png');">
                            </div><!---->
                        </div><span data-v-4a7709f3="">Invitation bonus</span>
                    </div>
                    <div data-v-4a7709f3="" class="header-item">
                        <div data-v-4a7709f3="" class="van-badge__wrapper">
                            <div data-v-4a7709f3="" class="a3 bgcontainer"
                                style="background-image: url('https://mumbai-big.com/assets/png/BettingRebate-17d35455.png');">
                            </div><!---->
                        </div><span data-v-4a7709f3="">Betting rebate</span>
                    </div>
                    <div data-v-4a7709f3="" class="header-item">
                        <div data-v-4a7709f3="" class="van-badge__wrapper">
                            <div data-v-4a7709f3="" class="a4 bgcontainer"
                                style="background-image: url('https://mumbai-big.com/assets/png/superJackpot-ecb648b4.png');">
                            </div><!---->
                        </div><span data-v-4a7709f3="">Super Jackpot</span>
                    </div><!--v-if-->
                </div>
                <div data-v-4a7709f3="" class="activity-panel-content">
                    <div data-v-4a7709f3="" class="content-title"><img data-v-4a7709f3="" class=""
                            data-origin="/assets/png/signInBanner-33f86d3f.png"
                            src="images/activity/signInBanner-33f86d3f.png">
                        <div data-v-4a7709f3="" class="content-para">Gifts</div>
                        <p data-v-4a7709f3="">Enter the redemption code to receive gift rewards</p>
                    </div>
                    <div data-v-4a7709f3="" class="content-title"><img data-v-4a7709f3="" class=""
                            data-origin="/assets/png/giftRedeem-45917887.png"
                            src="images/activity/giftRedeem-45917887.png">
                        <div data-v-4a7709f3="" class="content-para">Attendance bonus</div>
                        <p data-v-4a7709f3="">The more consecutive days you sign in, the higher the reward will be.</p>
                    </div>
                </div>
            </div>

            <div data-v-4a7709f3="" role="feed" class="van-list" aria-busy="false">
                <div data-v-4a7709f3="" class="activitySection__container">
                    <div data-v-4a7709f3="" class="box"><img data-v-4a7709f3=""
                            src="images/activity/Banner_20240831184607hlf3.png" class="act_0">
                        <div data-v-4a7709f3="" class="box-content">
                            <div data-v-4a7709f3="" class="box-title">BIGMUMBAI Lucky Spin</div>
                        </div>
                    </div>
                    <div data-v-4a7709f3="" class="box"><img data-v-4a7709f3=""
                            src="images/activity/Banner_20240708183254et66.jpg" class="act_1">
                        <div data-v-4a7709f3="" class="box-content">
                            <div data-v-4a7709f3="" class="box-title">BIGMUMBAI Avoiding Frauds</div>
                        </div>
                    </div>
                    <div data-v-4a7709f3="" class="box"><img data-v-4a7709f3=""
                            src="images/activity/Banner_20240810194958hvfv.png" class="act_2">
                        <div data-v-4a7709f3="" class="box-content">
                            <div data-v-4a7709f3="" class="box-title">First Deposit Bonus</div>
                        </div>
                    </div>
                    <div data-v-4a7709f3="" class="box"><img data-v-4a7709f3=""
                            src="images/activity/Banner_20240901211230lv9x.png" class="act_3">
                        <div data-v-4a7709f3="" class="box-content">
                            <div data-v-4a7709f3="" class="box-title">Partner Rewards</div>
                        </div>
                    </div>
                    <div data-v-4a7709f3="" class="box"><img data-v-4a7709f3=""
                            src="images/activity/Banner_20240810195020fpo6.png" class="act_4">
                        <div data-v-4a7709f3="" class="box-content">
                            <div data-v-4a7709f3="" class="box-title">Aviator High Betting Reward</div>
                        </div>
                    </div>
                    <div data-v-4a7709f3="" class="box"><img data-v-4a7709f3=""
                            src="images/activity/Banner_202408101950084v6o.png" class="act_5">
                        <div data-v-4a7709f3="" class="box-content">
                            <div data-v-4a7709f3="" class="box-title">Youtube Creative Video</div>
                        </div>
                    </div>
                </div><!---->
            </div><!--v-if--><!--v-if-->
        </div>
        <!-- customer service  -->
        <%-include("../partials/customer-service.ejs")%>
        <!-- //footer  -->
        <%-include("../partials/footer.ejs")%>
</body>

</html>