<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 54px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="icon" type="image/svg+xml"
        href="https://ossimg.big-mumadmin888.com/bigmumbai/other/h5setting_20230814170913idlb.ico">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>BigMumbai</title>
    <!-- footer css  -->
    <link rel="stylesheet" href="https://mumbai-big.com/assets/css/index-8560823f.css">

    <link rel="stylesheet" href="css/promotion/index-6108797b.css">
    <link rel="stylesheet" href="css/promotion/page-promotion-0009c24a.css">
</head>

<body class="" style="font-size: 12px; overflow-x: hidden;">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        style="position: absolute; width: 0; height: 0">
        <symbol id="icon-Line" viewBox="0 0 2 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L0.999999 21" stroke="#888888" stroke-linecap="round"></path>
        </symbol>
        <symbol id="icon-commission" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
            <path opacity="0.4"
                d="M40.475 5H19.525C10.425 5 5 10.425 5 19.525V40.45C5 49.575 10.425 55 19.525 55H40.45C49.55 55 54.975 49.575 54.975 40.475V19.525C55 10.425 49.575 5 40.475 5Z"
                fill="var(--main-color)"></path>
            <path
                d="M35.6504 30L31.8754 28.675V20.2H32.7754C34.8004 20.2 36.4504 21.975 36.4504 24.15C36.4504 25.175 37.3004 26.025 38.3254 26.025C39.3504 26.025 40.2004 25.175 40.2004 24.15C40.2004 19.9 36.8754 16.45 32.7754 16.45H31.8754V15C31.8754 13.975 31.0254 13.125 30.0004 13.125C28.9754 13.125 28.1254 13.975 28.1254 15V16.45H26.5004C22.8004 16.45 19.7754 19.575 19.7754 23.4C19.7754 27.875 22.3754 29.3 24.3504 30L28.1254 31.325V39.775H27.2254C25.2004 39.775 23.5504 38 23.5504 35.825C23.5504 34.8 22.7004 33.95 21.6754 33.95C20.6504 33.95 19.8004 34.8 19.8004 35.825C19.8004 40.075 23.1254 43.525 27.2254 43.525H28.1254V45C28.1254 46.025 28.9754 46.875 30.0004 46.875C31.0254 46.875 31.8754 46.025 31.8754 45V43.55H33.5004C37.2004 43.55 40.2254 40.425 40.2254 36.6C40.2004 32.1 37.6004 30.675 35.6504 30ZM25.6004 26.475C24.3254 26.025 23.5504 25.6 23.5504 23.425C23.5504 21.65 24.8754 20.225 26.5254 20.225H28.1504V27.375L25.6004 26.475ZM33.5004 39.8H31.8754V32.65L34.4004 33.525C35.6754 33.975 36.4504 34.4 36.4504 36.575C36.4504 38.35 35.1254 39.8 33.5004 39.8Z"
                fill="var(--main-color)"></path>
        </symbol>
        <symbol id="icon-copy_Code" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
            <path opacity="0.4"
                d="M40.475 5H19.525C10.425 5 5 10.425 5 19.525V40.45C5 49.575 10.425 55 19.525 55H40.45C49.55 55 54.975 49.575 54.975 40.475V19.525C55 10.425 49.575 5 40.475 5Z"
                fill="var(--main-color)"></path>
            <path
                d="M53.25 30.5751H44.55C42.1 30.5751 39.925 31.9251 38.825 34.1251L36.725 38.2751C36.225 39.2751 35.225 39.9001 34.125 39.9001H25.925C25.15 39.9001 24.05 39.7251 23.325 38.2751L21.225 34.1501C20.6935 33.0859 19.8767 32.1904 18.8657 31.5636C17.8548 30.9367 16.6895 30.6031 15.5 30.6001H6.75C5.775 30.6001 5 31.3751 5 32.3501V40.5001C5 49.5751 10.45 55.0001 19.55 55.0001H40.5C49.075 55.0001 54.35 50.3001 55 41.9501V32.3251C55 31.3751 54.225 30.5751 53.25 30.5751ZM33.875 19.4951H26.125C25.15 19.4951 24.375 18.7201 24.375 17.7451C24.375 16.7701 25.15 15.9951 26.125 15.9951H33.875C34.85 15.9951 35.625 16.7701 35.625 17.7451C35.625 18.7201 34.825 19.4951 33.875 19.4951ZM35.8225 26.4776H24.1725C23.1975 26.4776 22.4225 25.7026 22.4225 24.7276C22.4225 23.7526 23.1975 22.9776 24.1725 22.9776H35.7975C36.7725 22.9776 37.5475 23.7526 37.5475 24.7276C37.5475 25.7026 36.7725 26.4776 35.8225 26.4776Z"
                fill="var(--main-color)"></path>
        </symbol>
        <symbol id="icon-directSubordinates" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none">
            <path
                d="M19 20C22.866 20 26 16.866 26 13C26 9.13401 22.866 6 19 6C15.134 6 12 9.13401 12 13C12 16.866 15.134 20 19 20Z"
                fill="var(--main-color)" stroke="var(--main-color)" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path opacity="0.4"
                d="M32.6074 7C34.6402 8.2249 35.9998 10.4537 35.9998 13C35.9998 15.5463 34.6402 17.7751 32.6074 19"
                stroke="var(--main-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path
                d="M4 40.8V42H34V40.8C34 36.3196 34 34.0794 33.1281 32.3681C32.3611 30.8628 31.1372 29.6389 29.6319 28.8719C27.9206 28 25.6804 28 21.2 28H16.8C12.3196 28 10.0794 28 8.36808 28.8719C6.86278 29.6389 5.63893 30.8628 4.87195 32.3681C4 34.0794 4 36.3196 4 40.8Z"
                fill="var(--main-color)" stroke="var(--main-color)" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path opacity="0.4"
                d="M43.999 42.0001V40.8001C43.999 36.3197 43.999 34.0795 43.1271 32.3682C42.3601 30.8629 41.1362 29.6391 39.6309 28.8721"
                stroke="var(--main-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </symbol>
        <symbol id="icon-invite_reg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
            <path opacity="0.4"
                d="M52.5 17.5V42.5C52.5 50 48.75 55 40 55H20C11.25 55 7.5 50 7.5 42.5V17.5C7.5 10 11.25 5 20 5H40C48.75 5 52.5 10 52.5 17.5Z"
                fill="var(--main-color)"></path>
            <path
                d="M38.75 5V24.65C38.75 25.75 37.45 26.3 36.65 25.575L30.85 20.225C30.62 20.0084 30.3159 19.8878 30 19.8878C29.6841 19.8878 29.38 20.0084 29.15 20.225L23.35 25.575C23.1711 25.7409 22.9476 25.8508 22.7071 25.8912C22.4665 25.9317 22.2193 25.9008 21.9961 25.8025C21.7728 25.7041 21.5832 25.5426 21.4507 25.3378C21.3181 25.133 21.2483 24.8939 21.25 24.65V5H38.75ZM43.75 36.875H33.125C32.1 36.875 31.25 36.025 31.25 35C31.25 33.975 32.1 33.125 33.125 33.125H43.75C44.775 33.125 45.625 33.975 45.625 35C45.625 36.025 44.775 36.875 43.75 36.875ZM43.75 46.875H22.5C21.475 46.875 20.625 46.025 20.625 45C20.625 43.975 21.475 43.125 22.5 43.125H43.75C44.775 43.125 45.625 43.975 45.625 45C45.625 46.025 44.775 46.875 43.75 46.875Z"
                fill="var(--main-color)"></path>
        </symbol>
        <symbol id="icon-rebateRatio" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
            <path opacity="0.36"
                d="M18.75 17.9814C23.9068 20.0007 30.0104 20.0007 30.0104 20.0007C30.0104 20.0007 36.1 20.0007 41.25 17.9814C46.8773 24.5487 50.8205 33.2062 53.4121 40.4976C56.0359 47.8791 50.2508 55.0007 42.4168 55.0007H17.5246C9.71023 55.0007 3.93235 47.9117 6.54287 40.5462C9.12242 33.2679 13.0685 24.6074 18.75 17.9814Z"
                fill="var(--main-color)" stroke="var(--main-color)" stroke-width="2" stroke-linejoin="round"></path>
            <path d="M30 25V47" stroke="var(--main-color)" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path d="M35.5 27C35.5 27 30.4853 27 28 27C25.5147 27 23.5 29.0147 23.5 31.5C23.5 33.9853 25.5147 36 28 36"
                stroke="var(--main-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path
                d="M24.5 45C24.5 45 29.5147 45 32 45C34.4853 45 36.5 42.9853 36.5 40.5C36.5 38.0147 34.4853 36 32 36H28"
                stroke="var(--main-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M30 20C38.9746 20 46.25 16.6421 46.25 12.5C46.25 8.35786 38.9746 5 30 5C21.0254 5 13.75 8.35786 13.75 12.5C13.75 16.6421 21.0254 20 30 20Z"
                fill="var(--main-color)" stroke="var(--main-color)" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
        </symbol>
        <symbol id="icon-server" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
            <path opacity="0.4"
                d="M13.4999 50C9.89986 44.4 10.3332 36.6667 10.9999 33.5L21.9999 21L33.9999 29.5L49.4999 33.5C49.9999 36 50.3999 42.4 47.9999 48C44.9999 55 35.9999 59 30.4999 59C24.9999 59 17.9999 57 13.4999 50Z"
                fill="var(--teshu-icon,var(--main-color))"></path>
            <path
                d="M54.7158 33.4087V31.6947C54.8437 23.8926 52.5542 17.3183 48.0392 12.6498C45.8491 10.3941 43.1899 8.64749 40.2498 7.53358C39.7766 3.37668 35.2488 0 29.7361 0C24.2234 0 19.67 3.32552 19.2223 7.54637C16.2861 8.66044 13.6311 10.4072 11.4457 12.6625C6.96908 17.3183 4.61563 23.8542 4.75633 31.6692V33.754C4.03645 34.4538 3.52496 35.3397 3.27881 36.313C3.03266 37.2863 3.06152 38.3088 3.36217 39.2667C3.60387 40.1445 4.05307 40.9513 4.6719 41.6191C5.29073 42.2869 6.06105 42.7961 6.91791 43.1038C7.79515 43.6676 8.81692 43.9653 9.85972 43.9608C10.8147 48.5559 13.354 52.6694 17.0339 55.5824C20.7138 58.4955 25.3002 60.0229 29.9919 59.8977C34.6792 60.0168 39.2596 58.4866 42.9342 55.5741C46.6087 52.6615 49.1442 48.5515 50.0985 43.9608H50.3031C51.5987 43.9477 52.8518 43.497 53.8589 42.6817C54.5138 42.3061 55.0874 41.8039 55.5463 41.2044C56.0053 40.605 56.3403 39.9202 56.5321 39.1899C56.8329 38.1467 56.8212 37.0381 56.4984 36.0014C56.1756 34.9647 55.5558 34.0455 54.7158 33.3575V33.4087ZM48.7555 38.5248C48.7579 39.7582 48.6638 40.9898 48.4741 42.2085C46.7906 44.9067 44.5039 47.1774 41.7939 48.842C39.084 50.5065 36.0248 51.5196 32.8569 51.8013C32.5162 51.4174 32.0929 51.1155 31.6189 50.9184C31.1448 50.7212 30.6324 50.6339 30.1198 50.663C28.4059 50.663 27.0245 51.5967 27.0245 52.7606C27.0245 53.9245 28.3931 54.8582 30.1198 54.8582C30.7471 54.9242 31.3792 54.7903 31.9259 54.4756C32.4726 54.1609 32.9059 53.6815 33.1639 53.1059C35.3153 52.864 37.4237 52.3304 39.4312 51.5199C42.2032 50.4095 44.7125 48.7323 46.7985 46.5956C47.1439 46.2503 47.4509 45.9049 47.7578 45.534C45.2893 53.1059 38.6766 57.9663 30.0814 57.9663H29.9919C18.9154 57.9663 11.2155 49.9851 11.2155 38.576V37.4888C11.2155 37.0028 11.2922 35.6981 11.3562 34.4703C15.948 32.7947 20.0921 26.3867 21.7676 23.4321C24.4363 27.0903 28.0667 29.9371 32.2558 31.6564C34.2362 32.3468 36.2675 32.8813 38.3313 33.2552C42.3475 34.1121 46.1462 34.9307 48.7171 38.2946L48.8194 38.3841L48.7555 38.5248Z"
                fill="var(--teshu-icon,var(--main-color))"></path>
        </symbol>
        <symbol id="icon-subordinate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 48" fill="none">
            <path
                d="M7.04203 2H23.302C24.662 2 25.762 3.12 25.762 4.5V7.24C25.762 8.24 25.142 9.48 24.522 10.1L19.222 14.84C18.482 15.46 17.982 16.72 17.982 17.7V23.06C17.982 23.8 17.482 24.8 16.882 25.18L15.162 26.3C13.562 27.3 11.342 26.18 11.342 24.18V17.56C11.342 16.68 10.842 15.56 10.362 14.94L5.68203 9.94C5.06203 9.32 4.58203 8.2 4.58203 7.44V4.58C4.58203 3.12 5.68203 2 7.04203 2Z"
                fill="var(--main-color)"></path>
            <path opacity="0.4"
                d="M34.582 4H29.782C29.222 4 28.782 4.44 28.782 5V7.24C28.782 9.22 27.722 11.16 26.682 12.22L21.242 17.08C21.182 17.22 21.082 17.42 21.022 17.58V23.08C21.022 24.9 19.942 26.88 18.462 27.78L16.822 28.84C15.902 29.42 14.882 29.7 13.862 29.7C12.942 29.7 12.022 29.46 11.182 29C9.88203 28.28 8.98203 27.1 8.58203 25.74V20.42C8.58363 20.2888 8.55776 20.1588 8.5061 20.0383C8.45443 19.9177 8.37811 19.8093 8.28203 19.72L6.28203 17.72C5.64203 17.1 4.58203 17.54 4.58203 18.42V34C4.58203 39.52 9.06203 44 14.582 44H34.582C40.102 44 44.582 39.52 44.582 34V14C44.582 8.48 40.102 4 34.582 4Z"
                fill="var(--main-color)"></path>
            <path
                d="M36.582 27.5H26.582C25.762 27.5 25.082 26.82 25.082 26C25.082 25.18 25.762 24.5 26.582 24.5H36.582C37.402 24.5 38.082 25.18 38.082 26C38.082 26.82 37.402 27.5 36.582 27.5ZM36.582 35.5H22.582C21.762 35.5 21.082 34.82 21.082 34C21.082 33.18 21.762 32.5 22.582 32.5H36.582C37.402 32.5 38.082 33.18 38.082 34C38.082 34.82 37.402 35.5 36.582 35.5Z"
                fill="var(--main-color)"></path>
        </symbol>
        <symbol id="icon-teamSubordinates" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none">
            <path
                d="M24 20C27.866 20 31 16.866 31 13C31 9.13401 27.866 6 24 6C20.134 6 17 9.13401 17 13C17 16.866 20.134 20 24 20Z"
                fill="var(--main-color)" stroke="var(--main-color)" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path opacity="0.4"
                d="M12 7.25488C10.1865 8.51983 9 10.6214 9 13.0002C9 15.5465 10.3596 17.7753 12.3924 19.0002"
                stroke="var(--main-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path opacity="0.4"
                d="M36 7.25488C37.8135 8.51983 39 10.6214 39 13.0002C39 15.3789 37.8135 17.4806 36 18.7455"
                stroke="var(--main-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path
                d="M12 40V42H36V40C36 36.2725 36 34.4087 35.391 32.9385C34.5791 30.9783 33.0217 29.4209 31.0615 28.609C29.5913 28 27.7275 28 24 28C20.2725 28 18.4087 28 16.9385 28.609C14.9783 29.4209 13.4209 30.9783 12.609 32.9385C12 34.4087 12 36.2725 12 40Z"
                fill="var(--main-color)" stroke="var(--main-color)" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path opacity="0.4"
                d="M43.999 42.0001V40.8001C43.999 36.3197 43.999 34.0795 43.1271 32.3682C42.3601 30.8629 41.1362 29.6391 39.6309 28.8721"
                stroke="var(--main-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path opacity="0.4"
                d="M4 42.0001V40.8001C4 36.3197 4 34.0795 4.87195 32.3682C5.63893 30.8629 6.86278 29.6391 8.36807 28.8721"
                stroke="var(--main-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </symbol>
        <symbol id="icon-team_partner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
            <path
                d="M14.5566 14.5753C14.5566 21.6326 20.007 27.3352 26.7177 27.3352C33.4285 27.3352 38.8789 21.6326 38.8789 14.5753C38.8789 7.51804 33.4288 1.81543 26.718 1.81543C20.0073 1.81543 14.5566 7.51804 14.5566 14.5753ZM47.5079 59.0613L47.5022 59.0154C39.6097 58.7121 33.3027 52.2203 33.3027 44.2537C33.3027 38.8662 36.1699 34.1403 40.486 31.5567C37.556 29.7609 35.2561 29.2883 35.2561 29.2883L28.3249 41.2919V37.5741C31.066 33.5098 27.5686 31.6825 26.8441 31.3675C26.8127 31.3675 26.7812 31.336 26.7495 31.336H26.718C25.9935 31.6511 22.4962 33.4469 25.2373 37.5741V41.3234L18.18 29.2568C18.18 29.2568 0.347656 32.88 0.347656 59.0299H26.718V59.0613H47.5079Z"
                fill="var(--main-color)"></path>
            <path
                d="M47.5081 32.0449C40.6555 32.0449 35.0488 37.6516 35.0488 44.5042C35.0488 51.3568 40.6555 56.9635 47.5081 56.9635C54.3607 56.9635 59.9674 51.3568 59.9674 44.5042C59.9674 37.6516 54.3607 32.0449 47.5081 32.0449ZM47.5081 54.4716C42.026 54.4716 37.5407 49.9863 37.5407 44.5042C37.5407 39.0221 42.026 34.5368 47.5081 34.5368C52.9902 34.5368 57.4756 39.0221 57.4756 44.5042C57.4756 49.9863 52.9902 54.4716 47.5081 54.4716Z"
                fill="var(--main-color)"></path>
            <path opacity="0.36"
                d="M50.0009 43.258H45.0172C44.6434 43.258 44.3942 43.0088 44.3942 42.635C44.3942 42.2612 44.6434 42.012 45.0172 42.012H51.8698V39.5202H48.755V37.0283H46.2631V39.5202H45.0172C43.2729 39.5202 41.9023 40.8907 41.9023 42.635C41.9023 44.3793 43.2729 45.7498 45.0172 45.7498H50.0009C50.3747 45.7498 50.6238 45.999 50.6238 46.3728C50.6238 46.7466 50.3747 46.9958 50.0009 46.9958H43.1483V49.4876H46.2631V51.9795H48.755V49.4876H50.0009C51.7452 49.4876 53.1157 48.1171 53.1157 46.3728C53.1157 44.6285 51.7452 43.258 50.0009 43.258Z"
                fill="var(--main-color)"></path>
        </symbol>
        <symbol id="icon-team_port" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none">
            <path opacity="0.4"
                d="M54.9744 15.0504C55.0244 15.6504 54.9744 16.2754 54.8244 16.9004L46.3994 50.7254C46.1074 51.9488 45.4098 53.0373 44.4201 53.8136C43.4305 54.5899 42.2071 55.0082 40.9494 55.0004H8.09939C4.32439 55.0004 1.64939 51.3004 2.74939 47.6754L13.2744 13.8504C13.9994 11.5004 16.1744 9.90039 18.6244 9.90039H49.3744C51.7744 9.90039 53.7244 11.3254 54.5494 13.3254C54.7929 13.8704 54.9368 14.4546 54.9744 15.0504Z"
                fill="var(--main-color)"></path>
            <path
                d="M57.475 49.0503C57.5337 49.8108 57.4342 50.5752 57.183 51.2954C56.9317 52.0156 56.5341 52.6759 56.0151 53.2348C55.496 53.7938 54.8669 54.2392 54.1673 54.543C53.4677 54.8469 52.7127 55.0026 51.95 55.0003H40.95C43.55 55.0003 45.8 53.2503 46.4 50.7253L54.825 16.9003C54.975 16.2753 55.025 15.6503 54.975 15.0503L55 15.0003L57.475 49.0503ZM24.2 17.8278C24.05 17.8278 23.9 17.8028 23.75 17.7778C23.51 17.7193 23.284 17.6139 23.0849 17.4677C22.8857 17.3216 22.7174 17.1375 22.5897 16.9261C22.4619 16.7147 22.3772 16.4801 22.3403 16.2359C22.3035 15.9916 22.3153 15.7425 22.375 15.5028L24.975 4.70282C25.225 3.70282 26.225 3.10282 27.25 3.32782C28.25 3.57782 28.875 4.57782 28.625 5.60282L26.025 16.4028C25.825 17.2528 25.05 17.8278 24.2 17.8278ZM40.95 17.8553C40.825 17.8553 40.675 17.8553 40.55 17.8053C40.0672 17.6944 39.6463 17.4006 39.3758 16.9855C39.1054 16.5705 39.0065 16.0668 39.1 15.5803L41.45 4.73032C41.675 3.70532 42.675 3.08032 43.675 3.28032C44.675 3.50532 45.325 4.50532 45.125 5.50532L42.775 16.3553C42.6 17.2553 41.825 17.8553 40.95 17.8553ZM39.25 31.8753H19.25C18.225 31.8753 17.375 31.0253 17.375 30.0003C17.375 28.9753 18.225 28.1253 19.25 28.1253H39.25C40.275 28.1253 41.125 28.9753 41.125 30.0003C41.125 31.0253 40.275 31.8753 39.25 31.8753ZM36.75 41.8753H16.75C15.725 41.8753 14.875 41.0253 14.875 40.0003C14.875 38.9753 15.725 38.1253 16.75 38.1253H36.75C37.775 38.1253 38.625 38.9753 38.625 40.0003C38.625 41.0253 37.775 41.8753 36.75 41.8753Z"
                fill="var(--main-color)"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M17.1855 30.0003C17.1855 28.8168 18.1449 27.8574 19.3284 27.8574H39.0427C40.2261 27.8574 41.1855 28.8168 41.1855 30.0003C41.1855 31.1837 40.2261 32.1431 39.0427 32.1431H19.3284C18.1449 32.1431 17.1855 31.1837 17.1855 30.0003Z"
                fill="var(--main-color)"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.5713 39.8567C14.5713 38.6733 15.5306 37.7139 16.7141 37.7139H36.4284C37.6119 37.7139 38.5713 38.6733 38.5713 39.8567C38.5713 41.0402 37.6119 41.9996 36.4284 41.9996H16.7141C15.5306 41.9996 14.5713 41.0402 14.5713 39.8567Z"
                fill="var(--main-color)"></path>
        </symbol>
        <symbol id="icon-SearchTrx" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="none">
            <path
                d="M22.3206 29.4914C20.713 30.1573 18.99 30.5 17.25 30.5C13.7359 30.5 10.3657 29.104 7.88084 26.6192C5.39598 24.1343 4 20.7641 4 17.25C4 13.7359 5.39598 10.3657 7.88083 7.88083C10.3657 5.39598 13.7359 4 17.25 4C18.99 4 20.713 4.34272 22.3206 5.0086C23.9281 5.67447 25.3888 6.65046 26.6192 7.88083C27.8495 9.11121 28.8255 10.5719 29.4914 12.1794C30.1573 13.787 30.5 15.51 30.5 17.25C30.5 18.99 30.1573 20.713 29.4914 22.3206C28.8255 23.9281 27.8495 25.3888 26.6192 26.6192C25.3888 27.8495 23.9281 28.8255 22.3206 29.4914ZM31.95 31.9985C31.9436 31.9985 31.9355 31.9971 31.9282 31.9941C31.9242 31.9925 31.922 31.9911 31.9214 31.9906L29.1369 29.2062C29.1268 29.1953 29.1211 29.1809 29.1211 29.166C29.1211 29.152 29.1261 29.1385 29.1351 29.1279C29.1381 29.1254 29.1407 29.124 29.1432 29.123C29.1472 29.1213 29.1535 29.1197 29.1619 29.1197C29.1774 29.1197 29.1952 29.1249 29.2127 29.1404L31.9929 31.9206C31.9948 31.9226 31.9963 31.9243 31.9975 31.926C31.9989 31.928 31.9998 31.9299 32.0005 31.9317C32.0022 31.9357 32.0037 31.942 32.0037 31.9504C32.0037 31.9608 32.0014 31.9723 31.9952 31.984C31.9756 31.9955 31.9587 31.9985 31.95 31.9985Z"
                stroke="currentColor" stroke-width="2"></path>
        </symbol>
        <symbol id="icon-rule" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none">
            <path
                d="M29.7516 7.6875H17.8266C17.1422 7.6875 16.5938 7.13437 16.5938 6.45469V1.27969C16.5938 0.6 17.1469 0.046875 17.8266 0.046875H29.7469C30.4312 0.046875 30.9844 0.6 30.9844 1.27969V6.45C30.9844 7.13438 30.4313 7.6875 29.7516 7.6875Z"
                fill="var(--main-color)"></path>
            <path
                d="M40.7938 4.64062H33.9172C33.6875 4.64062 33.5047 4.82813 33.5047 5.05313V8.58281C33.5047 9.26719 32.9516 9.81562 32.2719 9.81562H15.7063C15.0219 9.81562 14.4734 9.2625 14.4734 8.58281V5.05313C14.4734 4.82344 14.2859 4.64062 14.0609 4.64062H7.17969C5.49688 4.64062 4.13281 6.00469 4.13281 7.6875V44.9062C4.13281 46.5891 5.49688 47.9531 7.17969 47.9531H40.7938C42.4766 47.9531 43.8406 46.5891 43.8406 44.9062V7.6875C43.8406 6.00469 42.4766 4.64062 40.7938 4.64062ZM7.82656 16.9688C7.82656 16.1391 8.49688 15.4688 9.32656 15.4688H33.4203C34.25 15.4688 34.9203 16.1391 34.9203 16.9688C34.9203 17.7984 34.25 18.4688 33.4203 18.4688H9.32656C8.49688 18.4688 7.82656 17.7984 7.82656 16.9688ZM19.5922 39.1406C19.5922 39.9703 18.9219 40.6406 18.0922 40.6406H9.32656C8.49688 40.6406 7.82656 39.9703 7.82656 39.1406C7.82656 38.3109 8.49688 37.6406 9.32656 37.6406H18.0922C18.9219 37.6406 19.5922 38.3109 19.5922 39.1406ZM19.5922 31.7484C19.5922 32.5781 18.9219 33.2484 18.0922 33.2484H9.32656C8.49688 33.2484 7.82656 32.5781 7.82656 31.7484C7.82656 30.9187 8.49688 30.2484 9.32656 30.2484H18.0922C18.9219 30.2484 19.5922 30.9234 19.5922 31.7484ZM22.4984 25.8609H9.32656C8.49688 25.8609 7.82656 25.1906 7.82656 24.3609C7.82656 23.5312 8.49688 22.8609 9.32656 22.8609H22.4984C23.3281 22.8609 23.9984 23.5312 23.9984 24.3609C23.9984 25.1859 23.3281 25.8609 22.4984 25.8609ZM32.0141 43.7859C27.3547 43.7859 23.5766 41.8453 23.5766 39.45C23.5766 38.85 23.8156 38.2781 24.2422 37.7578C25.5266 39.3094 28.5219 40.4016 32.0141 40.4016C35.5063 40.4016 38.5016 39.3141 39.7859 37.7578C40.2172 38.2781 40.4516 38.85 40.4516 39.45C40.4516 41.8453 36.6734 43.7859 32.0141 43.7859ZM32.0141 38.9766C27.3547 38.9766 23.5766 37.0359 23.5766 34.6406C23.5766 34.0172 23.8344 33.4266 24.2938 32.8875C25.6016 34.4109 28.5688 35.4703 32.0141 35.4703C35.4594 35.4703 38.4219 34.4062 39.7344 32.8875C40.1938 33.4219 40.4516 34.0172 40.4516 34.6406C40.4516 37.0359 36.6734 38.9766 32.0141 38.9766ZM32.0141 34.1672C27.3547 34.1672 23.5766 32.2266 23.5766 29.8313C23.5766 27.4359 27.3547 25.4953 32.0141 25.4953C36.6734 25.4953 40.4516 27.4359 40.4516 29.8313C40.4516 32.2266 36.6734 34.1672 32.0141 34.1672Z"
                fill="var(--main-color)"></path>
        </symbol>
    </svg>

    <div id="app" data-v-app="">
        <div data-v-647954c7="" class="ar-loading-view"
            style="--f13b4d11-currentFontFamily: Roboto, Inter, sans-serif; display: none;">
            <div data-v-647954c7="" class="loading-wrapper"><!-- <VanLoading /> -->
                <div data-v-647954c7="" class="loading-animat"><svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" width="200" height="200"
                        preserveAspectRatio="xMidYMid meet"
                        style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                    </svg>

                </div>
            </div>
            <div data-v-647954c7="" class="skeleton-wrapper" style="display: none;">
                <div data-v-647954c7="" class="van-skeleton van-skeleton--animate"><!---->
                    <div class="van-skeleton__content"><!---->
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 60%;"></div>
                    </div>
                </div>
                <div data-v-647954c7="" class="van-skeleton van-skeleton--animate">
                    <div class="van-skeleton-avatar van-skeleton-avatar--round"></div>
                    <div class="van-skeleton__content">
                        <h3 class="van-skeleton-title"></h3>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 60%;"></div>
                    </div>
                </div>
                <div data-v-647954c7="" class="van-skeleton van-skeleton--animate"><!---->
                    <div class="van-skeleton__content">
                        <h3 class="van-skeleton-title"></h3>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 100%;"></div>
                        <div class="van-skeleton-paragraph" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </div><!--v-if-->
        <div data-v-12a80a3e="" data-v-600663f7="" class="navbar white"
            style="--f13b4d11-currentFontFamily: Roboto, Inter, sans-serif;">
            <div data-v-12a80a3e="" class="navbar-fixed">
                <div data-v-12a80a3e="" class="navbar__content">
                    <div data-v-12a80a3e="" class="navbar__content-left"><!--v-if--></div>
                    <div data-v-12a80a3e="" class="navbar__content-center"><!--v-if-->
                        <div data-v-12a80a3e="" class="navbar__content-title">Agency</div>
                    </div>
                    <div data-v-12a80a3e="" class="navbar__content-right"><svg data-v-600663f7=""
                            class="svg-icon icon-subordinate">
                            <use xlink:href="#icon-subordinate"></use>
                        </svg></div>
                </div>
            </div>
        </div>
        <div data-v-6cf5705a="" data-v-600663f7="" class="container"
            style="--f13b4d11-currentFontFamily: Roboto, Inter, sans-serif;">
            <div data-v-6cf5705a="" class="amount">0</div>
            <div data-v-6cf5705a="" class="amount_txt">Yesterday's total commission</div>
            <div data-v-6cf5705a="" class="tip">Upgrade the level to increase commission income</div>
            <div data-v-6cf5705a="" class="info_content">
                <div data-v-6cf5705a="" class="info">
                    <div data-v-6cf5705a="" class="head"><svg data-v-6cf5705a=""
                            class="svg-icon icon-directSubordinates">
                            <use xlink:href="#icon-directSubordinates"></use>
                        </svg> Direct subordinates</div>
                    <div data-v-6cf5705a="" class="line1 r">
                        <div data-v-6cf5705a="">0</div> number of register
                    </div>
                    <div data-v-6cf5705a="" class="line2 r">
                        <div data-v-6cf5705a="">0</div> Deposit number
                    </div>
                    <div data-v-6cf5705a="" class="line3 r">
                        <div data-v-6cf5705a="">0</div> Deposit amount
                    </div>
                    <div data-v-6cf5705a="" class="line1 r">
                        <div data-v-6cf5705a="">0</div> Number of people making first deposit
                    </div>
                </div>
                <div data-v-6cf5705a="" class="info">
                    <div data-v-6cf5705a="" class="head u2"><svg data-v-6cf5705a=""
                            class="svg-icon icon-teamSubordinates">
                            <use xlink:href="#icon-teamSubordinates"></use>
                        </svg>Team subordinates</div>
                    <div data-v-6cf5705a="" class="line1">
                        <div data-v-6cf5705a="">0</div> number of register
                    </div>
                    <div data-v-6cf5705a="" class="line2">
                        <div data-v-6cf5705a="">0</div> Deposit number
                    </div>
                    <div data-v-6cf5705a="" class="line3">
                        <div data-v-6cf5705a="">0</div> Deposit amount
                    </div>
                    <div data-v-6cf5705a="" class="line1">
                        <div data-v-6cf5705a="">0</div> Number of people making first deposit
                    </div>
                </div>
            </div>
        </div>


        <div data-v-600663f7="" class="content" style="--f13b4d11-currentFontFamily: Roboto, Inter, sans-serif;">
            <div onclick="copyInvitationLink()" style="padding-right: 200px;" data-v-600663f7="" class="shareBtnContainer"><button data-v-600663f7=""
                    class="shareBtn">INVITATION
                    LINK</button>
                </div>

            <div data-v-600663f7="" class="promote__cell">
                <div data-v-600663f7="" class="promote__cell-item">
                    <div data-v-600663f7="" class="label"><svg data-v-600663f7="" class="svg-icon icon-team_partner">
                            <use xlink:href="#icon-team_partner"></use>
                        </svg><span data-v-600663f7="">Partner rewards</span></div>
                    <div data-v-600663f7="" class="arrow"><i data-v-600663f7=""
                            class="van-badge__wrapper van-icon van-icon-arrow"
                            style="color: var(--text_color_L1); font-size: 24px;"><!----><!----><!----></i></div>
                </div>
                <div data-v-600663f7="" class="promote__cell-item">
                    <div data-v-600663f7="" class="label"><svg data-v-600663f7="" class="svg-icon icon-copy_Code">
                            <use xlink:href="#icon-copy_Code"></use>
                        </svg><span data-v-600663f7="">Copy invitation code</span></div>
                    <div data-v-600663f7="" class="arrow"><span data-v-600663f7="">758734730582 <svg data-v-600663f7=""
                                class="svg-icon icon-copy">
                                <use xlink:href="#icon-copy"></use>
                            </svg></span></div>
                </div>
                <div data-v-600663f7="" class="promote__cell-item">
                    <div data-v-600663f7="" class="label"><svg data-v-600663f7="" class="svg-icon icon-team_port">
                            <use xlink:href="#icon-team_port"></use>
                        </svg><span data-v-600663f7="">Subordinate data</span></div>
                    <div data-v-600663f7="" class="arrow"><i data-v-600663f7=""
                            class="van-badge__wrapper van-icon van-icon-arrow"
                            style="color: var(--text_color_L1); font-size: 24px;"><!----><!----><!----></i></div>
                </div>
                <div data-v-600663f7="" class="promote__cell-item">
                    <div data-v-600663f7="" class="label"><svg data-v-600663f7="" class="svg-icon icon-commission">
                            <use xlink:href="#icon-commission"></use>
                        </svg><span data-v-600663f7="">Commission detail</span></div>
                    <div data-v-600663f7="" class="arrow"><i data-v-600663f7=""
                            class="van-badge__wrapper van-icon van-icon-arrow"
                            style="color: var(--text_color_L1); font-size: 24px;"><!----><!----><!----></i></div>
                </div>
                <div data-v-600663f7="" class="promote__cell-item">
                    <div data-v-600663f7="" class="label"><svg data-v-600663f7="" class="svg-icon icon-invite_reg">
                            <use xlink:href="#icon-invite_reg"></use>
                        </svg><span data-v-600663f7="">Invitation rules</span></div>
                    <div data-v-600663f7="" class="arrow"><i data-v-600663f7=""
                            class="van-badge__wrapper van-icon van-icon-arrow"
                            style="color: var(--text_color_L1); font-size: 24px;"><!----><!----><!----></i></div>
                </div>
                <div data-v-600663f7="" class="promote__cell-item">
                    <div data-v-600663f7="" class="label"><svg data-v-600663f7="" class="svg-icon icon-server">
                            <use xlink:href="#icon-server"></use>
                        </svg><span data-v-600663f7="">Agent line customer service</span></div>
                    <div data-v-600663f7="" class="arrow"><i data-v-600663f7=""
                            class="van-badge__wrapper van-icon van-icon-arrow"
                            style="color: var(--text_color_L1); font-size: 24px;"><!----><!----><!----></i></div>
                </div>
                <div data-v-600663f7="" class="promote__cell-item">
                    <div data-v-600663f7="" class="label"><svg data-v-600663f7="" class="svg-icon icon-rebateRatio">
                            <use xlink:href="#icon-rebateRatio"></use>
                        </svg><span data-v-600663f7="">Rebate ratio</span></div>
                    <div data-v-600663f7="" class="arrow"><i data-v-600663f7=""
                            class="van-badge__wrapper van-icon van-icon-arrow"
                            style="color: var(--text_color_L1); font-size: 24px;"><!----><!----><!----></i></div>
                </div>
            </div>
            <div data-v-600663f7="" class="commission">
                <div data-v-600663f7="" class="commission__title"><svg data-v-600663f7=""
                        class="svg-icon icon-promotionData">
                        <use xlink:href="#icon-promotionData"></use>
                    </svg><span data-v-600663f7="">promotion data</span></div>
                <div data-v-600663f7="" class="commission__body">
                    <div data-v-600663f7=""><span data-v-600663f7="">0</span><span data-v-600663f7="">This Week</span>
                    </div><!--因越南代理需求，临时处理下这个问题，周一再统一处理--><span data-v-600663f7=""></span>
                    <div data-v-600663f7=""><span data-v-600663f7="">0</span><span data-v-600663f7="">Total
                            commission</span></div>
                </div>
                <div data-v-600663f7="" class="commission__body">
                    <div data-v-600663f7=""><span data-v-600663f7="">0</span><span data-v-600663f7="">direct
                            subordinate</span></div><!--因越南代理需求，临时处理下这个问题，周一再统一处理--><span data-v-600663f7=""></span>
                    <div data-v-600663f7=""><span data-v-600663f7="">0</span><span data-v-600663f7="">Total number of
                            subordinates in the team</span></div>
                </div>
            </div><!-- <PromoRank /> -->
        </div><!--online custom service-->
        <%-include("../partials/customer-service.ejs")%>
            <!-- footer  -->
            <%-include("../partials/footer.ejs")%>
                <script>

                    function copyInvitationLink() {
                        const protocol = window.location.protocol;
                        const domain = window.location.hostname;
                        const baseUrl = protocol + "//" + domain;
                        const newUrl = baseUrl + "/signup?invite=89012344234";
                        const tempInput = document.createElement('input');
                        tempInput.value = newUrl;
                        document.body.appendChild(tempInput);
                        tempInput.select();
                        tempInput.setSelectionRange(0, 99999); // For mobile devices
                        document.execCommand("copy");
                        document.body.removeChild(tempInput);
                        alert("Invitation Link Copied");
                    }
                </script>
    </div>
</body>

</html>