
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="css/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <meta name="description" content="Bitter Mobile Template">
      <meta name="keywords" content="bootstrap, mobile template, bootstrap 4, mobile, html, responsive" />
      <link rel="stylesheet" href="css/condition/style.css">
   </head>
   <body style="background:#f7f8ff">
      <div class="appHeader1">
         <div class="left">
            <a href="/home"><img  src="images/accounts/icons8-arrow-50.png" class="back"></a>
         </div>
         
         <div class="pageTitle">About</div>
      </div>
      <div class="appContent3 text-white">
         <div class="imr">
            <img  src="images/conditions/aboutBg-4bc986ee.png" class="logo">
         </div>
      </div>
      <div style="margin:20px;"class="accordion" id="accordionExample">
         <div class="card-header cardheader">
            <h3 class="mb-0"> <a href="/home" class="btn btn-link collapsed">Privacy Policy</a> </h3>
         </div>
         <div class="card-header cardheader">
            <h3 class="mb-0"> <a href="/home" class="btn btn-link collapsed">Risk Disclosuer Agreement</a> </h3>
         </div>
      </div>
   
   </body>
</html>