<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 36px;">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Bettingking</title>
    <link rel="stylesheet" href="https://mumbai-big.com/assets/css/modules-8b01ca49.css">
    <!-- main style  -->
    <!-- <link rel="stylesheet" href="css/home/style.css"> -->
    <link rel="stylesheet" href="https://mumbai-big.com/assets/css/page-home-482c7bbf.css">
    <link rel="stylesheet" href="https://mumbai-big.com/assets/css/index-8560823f.css">
    <style>

/* Splash Screen styles */
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/images/splash.jpeg');
    background-position: center;
    background-size: cover; /* Ensures the image covers the full screen */
    background-repeat: no-repeat;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide the image element as the background image is now used */
#splash-image {
    display: none;
}

    </style>
</head>

<body class="" style="font-size: 12px;">
    <%-include("../partials/flash.ejs")%>
        <!-- download option  -->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            style="position: absolute; width: 0; height: 0">
            <symbol id="icon-down" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="down 1">
                    <path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
                        d="M23.9999 29L12 17H19.9999V6H27.9999V17H35.9999L23.9999 29Z"
                        fill="url(#paint0_linear_203_14194)" stroke="url(#paint1_linear_203_14194)" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"></path>
                    <g id="Vector_2">
                        <path d="M42 37H6H42Z" fill="url(#paint2_linear_203_14194)"></path>
                        <path d="M42 37H6" stroke="url(#paint3_linear_203_14194)" stroke-width="2"
                            stroke-linecap="round">
                        </path>
                    </g>
                    <g id="Vector_3">
                        <path d="M34 44H14H34Z" fill="url(#paint4_linear_203_14194)"></path>
                        <path d="M34 44H14" stroke="url(#paint5_linear_203_14194)" stroke-width="2"
                            stroke-linecap="round">
                        </path>
                    </g>
                </g>
                <defs>
                    <linearGradient id="paint0_linear_203_14194" x1="24" y1="6" x2="24" y2="29"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2D5B2"></stop>
                        <stop offset="1" stop-color="#D9B38C"></stop>
                    </linearGradient>
                    <linearGradient id="paint1_linear_203_14194" x1="24" y1="6" x2="24" y2="29"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2D5B2"></stop>
                        <stop offset="1" stop-color="#D9B38C"></stop>
                    </linearGradient>
                    <linearGradient id="paint2_linear_203_14194" x1="24" y1="37" x2="24" y2="38"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2D5B2"></stop>
                        <stop offset="1" stop-color="#D9B38C"></stop>
                    </linearGradient>
                    <linearGradient id="paint3_linear_203_14194" x1="24" y1="37" x2="24" y2="38"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2D5B2"></stop>
                        <stop offset="1" stop-color="#D9B38C"></stop>
                    </linearGradient>
                    <linearGradient id="paint4_linear_203_14194" x1="24" y1="44" x2="24" y2="45"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2D5B2"></stop>
                        <stop offset="1" stop-color="#D9B38C"></stop>
                    </linearGradient>
                    <linearGradient id="paint5_linear_203_14194" x1="24" y1="44" x2="24" y2="45"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2D5B2"></stop>
                        <stop offset="1" stop-color="#D9B38C"></stop>
                    </linearGradient>
                </defs>
            </symbol>
        </svg>

        <div id="app" data-v-app=""">
            <!---->
            <!-- Splash Screen -->
            <div id="splash-screen">
                <img src="/images/splash.webp" alt="Splash Image" id="splash-image">
            </div>
            <%-include("../partials/navbar.ejs")%>
                <!---->
                <div data-v-747942a2="" data-v-9bebd08e=""
                    class="swiper swiper-initialized swiper-horizontal swiper-pointer-events my-swipe swiper-backface-hidden">
                    <div class="slideshow-container">
                        <div class="mySlides " style="display: none;">
                            <img src="images/home/Banner_20240110082959xdnc.png" style="width:100%">
                        </div>
                        <div class="mySlides " style="display: block;">
                            <img src="images/home/Banner_20231125140847kw1d.png" style="width:100%">
                        </div>
                        <div class="mySlides " style="display: none;">
                            <img src="images/home/Banner_20231104194139qiih.png" style="width:100%">
                        </div>
                        <div class="mySlides " style="display: none;">
                            <img src="images/home/Banner_202311251408377776.png" style="width:100%">
                        </div>
                        <div class="mySlides " style="display: none;">
                            <img src="images/home/Banner_20231128182652ptr8.png" style="width:100%">
                        </div>
                        <div class="mySlides " style="display: none;">
                            <img src="images/home/Banner_20240110083058enng.png" style="width:100%">
                        </div>
                        <div class="mySlides " style="display: none;">
                            <img src="images/home/Banner_20240110083018keqf.png" style="width:100%">
                        </div>
                    </div>
                    <br>
                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <div data-v-f4625e1a="" data-v-17e11782="" class="noticeBar__container" id="noticeBar">
                    <div data-v-f4625e1a="" class="noticeBar__container-body">
                        <div data-v-f4625e1a="" class="noticeBar__container-body-text">Hello, withdrawals typically take
                            1-2
                            hours to process. We appreciate your patience and request that you wait for the status
                            success
                            before attempting to access your bank or e-wallet. Happy gaming!</div>
                    </div>
                    <button data-v-f4625e1a="">Detail</button>
                </div>
                <div data-v-7a43ac05="" data-v-17e11782="" class="game_menu" onclick="comingsoon()">
                    <div data-v-7a43ac05="" class="game_menu_list">

                        <div data-v-7a43ac05="" class="gamen_item active"
                            style="background-image: url('https://ossimg.Big-Mumadmin888.com/bigmumbai/gamecategory/gamecategory_20230814172946h699.png');">
                            <span data-v-7a43ac05="">Lottery</span>
                        </div>
                        <div data-v-7a43ac05="" class="gamen_item"
                            style="background-image: url('https://ossimg.Big-Mumadmin888.com/bigmumbai/gamecategory/gamecategory_202308141729159f84.png');">
                            <span data-v-7a43ac05="">Mini games</span>
                        </div>
                        <div data-v-7a43ac05="" class="gamen_item"
                            style="background-image: url('https://ossimg.Big-Mumadmin888.com/bigmumbai/gamecategory/gamecategory_20230814172910i5gf.png');">
                            <span data-v-7a43ac05="">Slots</span>
                        </div>
                        <div data-v-7a43ac05="" class="gamen_item"
                            style="background-image: url('https://ossimg.Big-Mumadmin888.com/bigmumbai/gamecategory/gamecategory_20230814172904h3mr.png');">
                            <span data-v-7a43ac05="">Popular</span>
                        </div>
                        <div data-v-7a43ac05="" class="gamen_item"
                            style="background-image: url('https://ossimg.Big-Mumadmin888.com/bigmumbai/gamecategory/gamecategory_2023081417293094nw.png');">
                            <span data-v-7a43ac05="">PVC</span>
                        </div>
                        <div data-v-7a43ac05="" class="gamen_item"
                            style="background-image: url('https://ossimg.Big-Mumadmin888.com/bigmumbai/gamecategory/gamecategory_20230814172923jfk4.png');">
                            <span data-v-7a43ac05="">Fishing</span>
                        </div>
                        <div data-v-7a43ac05="" class="gamen_item"
                            style="background-image: url('https://ossimg.Big-Mumadmin888.com/bigmumbai/gamecategory/gamecategory_202308141729365ie7.png');">
                            <span data-v-7a43ac05="">Casino</span>
                        </div>
                        <div data-v-7a43ac05="" class="gamen_item"
                            style="background-image: url('https://ossimg.Big-Mumadmin888.com/bigmumbai/gamecategory/gamecategory_202308141729404qmy.png');">
                            <span data-v-7a43ac05="">Sports</span>
                        </div>
                    </div>
                </div>

                <div data-v-17e11782="" class="box1">
                    <div data-v-9960823f="" data-v-17e11782="" class="game_container">
                        <div data-v-9960823f="" class="game_title">Lottery</div>
                        <div data-v-9960823f="" class="van-tabs van-tabs--card lottery_tabbar">
                            <div class="van-tabs__wrap">
                                <div role="tablist" class="van-tabs__nav van-tabs__nav--card van-tabs__nav--complete"
                                    aria-orientation="horizontal" style="background: transparent;">
                                    <!---->
                                    <div id="van-tabs-1-0" role="tab"
                                        class="van-tab van-tab--card van-tab--grow van-tab--active" tabindex="0"
                                        aria-selected="true" aria-controls="van-tab-2">
                                        <span class="van-tab__text">
                                            <span data-v-9960823f="">All</span>
                                        </span>
                                    </div>
                                    <div id="van-tabs-1-1" role="tab" class="van-tab van-tab--card van-tab--grow"
                                        tabindex="-1" aria-selected="false" aria-controls="van-tab-3">
                                        <span class="van-tab__text">
                                            <span data-v-9960823f="">Win Go</span>
                                        </span>
                                    </div>
                                    <div id="van-tabs-1-2" role="tab" class="van-tab van-tab--card van-tab--grow"
                                        tabindex="-1" aria-selected="false" aria-controls="van-tab-4">
                                        <span class="van-tab__text">
                                            <span data-v-9960823f="">K3</span>
                                        </span>
                                    </div>
                                    <div id="van-tabs-1-3" role="tab" class="van-tab van-tab--card van-tab--grow"
                                        tabindex="-1" aria-selected="false" aria-controls="van-tab-5">
                                        <span class="van-tab__text">
                                            <span data-v-9960823f="">5D</span>
                                        </span>
                                    </div>
                                    <div id="van-tabs-1-4" role="tab" class="van-tab van-tab--card van-tab--grow"
                                        tabindex="-1" aria-selected="false" aria-controls="van-tab-6">
                                        <span class="van-tab__text">
                                            <span data-v-9960823f="">Trx Win Go</span>
                                        </span>
                                    </div>
                                    <!---->
                                    <!---->
                                </div>
                            </div>


                        </div>
                        <div data-v-9960823f="" class="driver"></div>
                        <!---->
                        <!---->
                        <div data-v-aa0964dd="" data-v-9960823f="" class="lottery_container"
                            onclick="window.location.href='/wingo'">
                            <div data-v-aa0964dd="" onclick="location.href='/wingo'" class="lotterySlotItem wingo">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/wingo1-26adecc4.png"
                                    alt="">
                                <div data-v-aa0964dd="">Win Go 1Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/win/3'" class="lotterySlotItem wingo">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/wingo2-7620426f.png"
                                    alt="">
                                <div data-v-aa0964dd="">Win Go 3Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/win/5'" class="lotterySlotItem wingo">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/wingo3-af2ecabf.png"
                                    alt="">
                                <div data-v-aa0964dd="">Win Go 5Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/win/10'" class="lotterySlotItem wingo">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/wingo4-c325a189.png"
                                    alt="">
                                <div data-v-aa0964dd="">Win Go 10Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/5d'" class="lotterySlotItem d5">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/d55-92bf4299.png" alt="">
                                <div data-v-aa0964dd="">5D 1Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/5d'" class="lotterySlotItem d5">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/d56-381350f2.png" alt="">
                                <div data-v-aa0964dd="">5D 3Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/5d'" class="lotterySlotItem d5">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/d57-59e91e51.png" alt="">
                                <div data-v-aa0964dd="">5D 5Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/5d'" class="lotterySlotItem d5">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/d58-b02f0617.png" alt="">
                                <div data-v-aa0964dd="">5D 10Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/k3'" class="lotterySlotItem k3">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/k39-707408c6.png" alt="">
                                <div data-v-aa0964dd="">K3 1Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/k3'" class="lotterySlotItem k3">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/k310-1fc41fc4.png"
                                    alt="">
                                <div data-v-aa0964dd="">K3 3Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/k3'" class="lotterySlotItem k3">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/k311-2acf4e28.png"
                                    alt="">
                                <div data-v-aa0964dd="">K3 5Min</div>
                            </div>
                            <div data-v-aa0964dd="" onclick="location.href='/k3'" class="lotterySlotItem k3">
                                <img data-v-aa0964dd="" src="https://mumbai-big.com/assets/png/k312-126dcbfe.png"
                                    alt="">
                                <div data-v-aa0964dd="">K3 10Min</div>
                            </div>
                        </div>
                    </div>
                    <div data-v-5182d135="" data-v-17e11782="" class="luckyWinners__container">
                        <div data-v-5182d135="" class="title">Winning information</div>
                        <div data-v-5182d135="" class="driver"></div>
                        <img class="wininfo" style="display: block;" src="images/games/wininfo1.png"
                            alt="colorpredictionwinner" width="100%">
                        <img class="wininfo" style="display: none;" src="images/games/wininfo2.png"
                            alt="colorpredictionwinner" width="100%">
                    </div>

                    <!-- today's earning chart  -->
                    <div data-v-599f0670="" data-v-17e11782="" class="dailyProfitRank">
                        <div data-v-599f0670="" class="title">Today's earnings chart</div>
                        <div data-v-599f0670="" class="driver"></div>
                        <div data-v-599f0670="" class="rank_list">

                            <div data-v-599f0670="" class="daily_item">
                                <div data-v-599f0670="" class="left">
                                    <div data-v-599f0670="" class="avatar_img avatar_img1">
                                        <img data-v-599f0670=""
                                            data-img="https://mumbai-big.com/assets/png/avatar-ea3b8ee9.png" class=""
                                            data-origin="https://mumbai-big.com/assets/png/17-bedde42f.png"
                                            src="https://mumbai-big.com/assets/png/17-bedde42f.png">
                                    </div>
                                    <div data-v-599f0670="" class="info">
                                        <div data-v-599f0670="" class="tit">Mem***YNW</div>
                                        <div data-v-599f0670="" class="ranking ranking1">NO.1</div>
                                    </div>
                                </div>
                                <div data-v-599f0670="" class="amount">₹1,803,561,228.00</div>
                            </div>

                            <div data-v-599f0670="" class="daily_item">
                                <div data-v-599f0670="" class="left">
                                    <div data-v-599f0670="" class="avatar_img avatar_img2">
                                        <img data-v-599f0670=""
                                            data-img="https://mumbai-big.com/assets/png/avatar-ea3b8ee9.png" class=""
                                            data-origin="https://mumbai-big.com/assets/png/14-a397ff6b.png"
                                            src="https://mumbai-big.com/assets/png/14-a397ff6b.png">
                                    </div>
                                    <div data-v-599f0670="" class="info">
                                        <div data-v-599f0670="" class="tit">Mem***SQG</div>
                                        <div data-v-599f0670="" class="ranking ranking2">NO.2</div>
                                    </div>
                                </div>
                                <div data-v-599f0670="" class="amount">₹1,549,960,160.00</div>
                            </div>

                            <div data-v-599f0670="" class="daily_item">
                                <div data-v-599f0670="" class="left">
                                    <div data-v-599f0670="" class="avatar_img avatar_img3">
                                        <img data-v-599f0670=""
                                            data-img="https://mumbai-big.com/assets/png/avatar-ea3b8ee9.png" class=""
                                            data-origin="https://mumbai-big.com/assets/png/2-58c8a9bc.png"
                                            src="https://mumbai-big.com/assets/png/2-58c8a9bc.png">
                                    </div>
                                    <div data-v-599f0670="" class="info">
                                        <div data-v-599f0670="" class="tit">Mem***ZPI</div>
                                        <div data-v-599f0670="" class="ranking ranking3">NO.3</div>
                                    </div>
                                </div>
                                <div data-v-599f0670="" class="amount">₹1,233,360,613.34</div>
                            </div>

                            <div data-v-599f0670="" class="daily_item">
                                <div data-v-599f0670="" class="left">
                                    <div data-v-599f0670="" class="avatar_img">
                                        <img data-v-599f0670=""
                                            data-img="https://mumbai-big.com/assets/png/avatar-ea3b8ee9.png" class=""
                                            data-origin="https://mumbai-big.com/assets/png/7-00479cfa.png"
                                            src="https://mumbai-big.com/assets/png/7-00479cfa.png">
                                    </div>
                                    <div data-v-599f0670="" class="info">
                                        <div data-v-599f0670="" class="tit">Mem***TPL</div>
                                        <div data-v-599f0670="" class="ranking">NO.4</div>
                                    </div>
                                </div>
                                <div data-v-599f0670="" class="amount">₹677,233,919.60</div>
                            </div>

                            <div data-v-599f0670="" class="daily_item">
                                <div data-v-599f0670="" class="left">
                                    <div data-v-599f0670="" class="avatar_img">
                                        <img data-v-599f0670=""
                                            data-img="https://mumbai-big.com/assets/png/avatar-ea3b8ee9.png" class=""
                                            data-origin="https://mumbai-big.com/assets/png/16-cf8e1441.png"
                                            src="https://mumbai-big.com/assets/png/16-cf8e1441.png">
                                    </div>
                                    <div data-v-599f0670="" class="info">
                                        <div data-v-599f0670="" class="tit">Mem***RSC</div>
                                        <div data-v-599f0670="" class="ranking">NO.5</div>
                                    </div>
                                </div>
                                <div data-v-599f0670="" class="amount">₹554,617,395.64</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- customer service  -->
                <%-include("../partials/customer-service.ejs")%>
                    <!-- footer  -->
                    <%-include("../partials/footer.ejs")%>
        </div>
        <!-- upper slideshow image  -->
        <script src="js/home/script.js"></script>
        
</body>

</html>